html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: courier new;
    opacity: 1;
    transition: 0.7s opacity;
}

body.fade {
    opacity: 0;
    transition: none;
}

.container {
    width: 80%;
    margin: auto;
}

.hero {
    padding: 50px 0 150px 0;
}

a {
    font-weight: 700;
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
}

#skills {
    padding: 0 0 50px 0;
}

.projects {
    padding: 0 0 100px 0;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-gap: 15px;
}

img {
    width: 100%;
}

.card {
    background-color: white;
    padding: 10px;
    box-shadow: 0 1px 5px #cccccc;
}

.card:hover {
    box-shadow: 0 14px 28px #0c0c0c;
}

.navigation{
    padding: 8px 8px;
    text-align: right;
    background-color: #f0f0c9;
}

.navigation h2{
    text-align: left;
    color: #6f67ee;
}
.top-container{
    height: 150px;
    background-color: #f48f7d;
    padding: 40px 40px;
    text-align: center;
    color: #ffffff;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .input-box-div .input-box-ele, .input-box-div input {
    float: none; /* if you had floats before? otherwise inline-block will behave differently */
    display: inline-block;
    vertical-align: middle;    
}

#input-ranger{
    width: 30%;
}

#input-count{
    width: 10%;
}

.calculator{
    text-align: center;
}

.calculator h2{
    margin-bottom: 40px;
}

#cal-container{
    padding-top: 30px;
    padding-bottom: 10px;
}

#output{
 color: #6f67ee;
 font-size: 40px;
}